@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}

.searchBar {
  .logo {
    height: 56px;
    line-height: 56px;
    padding-right: 8px;
    float: left;

    img {
      height: 80%;
    }
  }

  form {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.slide {
  img {
    width: 100%;
  }
}

.quickEntry { 
  padding-top: 10px;
  a {
    width: 25%;
    float: left;
    color: #666;
    text-align: center;
    display: block;
    padding-bottom: 10px;

    img {
      display: block;
      width: 45px;
      height: 45px;
      margin: 0 auto 6px auto;
    }
  }
  &:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
    font-size: 0;
    display: block; 
  }
}

.showBlock {
  width: 100%;
  padding-top: 10px;

  .blockTitle {
    width: 100%;
    font-size: 16px;
    color: #ca1327;
    padding: 0px 8px 0 8px;
    float: left;

    a {
      float: right;
      color: #666;
      font-size: 13px;
    }
  }
}

.goodsList {
  width: 100%;
  padding-top: 4px;
  .goods {
    width: 33%;
    text-align: center;
    float: left;

    img {
      width: 80%;
    }
    span {
      color: #ed5657;
      font-size: 13px;
    }
  }
}
